* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #fff;
    margin: 0;
    font-family: "Segoe UI", "Arial", sans-serif;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 20px;
    }
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
}

.header-container > div {
    padding: 20px;
}

.header-container .header-title {
    padding: 20px;
    font-size: 1em;
}

.header-container #reset-button-container button {
    font-size: 1em;
    padding: 5px 10px;
}

#mode-selection {
    width: 75%;
    padding-top: 200px;
}

#mode-selection.active {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 40px;
}

#mode-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    #mode-buttons button {
        width: 100%;
    }
}

.button {
    padding: 15px 30px;
    font-size: 1.25em;
    background-color: #4C4EF6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

@media (max-width: 768px) {
    .button {
        font-size: 1em;
    }
}

.button:hover {
    background-color: #202059;
}

.note-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#note {
    font-size: 10em;
    text-align: center;
    display: none;
    color: #c21e56;
}

@media (max-width: 768px) {
    #note {
        font-size: 7em;
    }
}

#note.active {
    display: block;
}

#info-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1.5em;
    color: #666;
}

#info-container.active {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

@media (max-width: 768px) {
    #info-container {
        font-size: 1em;
    }
}

.hidden {
    display: none;
}

#settings-container {
    width: 100%;
}

#settings-button-container {
    padding-bottom: 10px;
}

#settings-button-container a {
    text-decoration: none;
    color:#4C4EF6;
    transition: color 0.3s;
    font-weight: bold;
}

#settings-button-container a:hover {
    color: #202059;
    transition: color 0.3s;
}

#settings-button-container.closed a::before {
    content: ">";
    margin-right: 10px;
}

#settings-button-container.open a::before {
    content: "v";
    margin-right: 10px;
}

#settings-content-container.active {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.settings-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.settings-item label {
    font-size: 1em;
}

@media (max-width: 768px) {
    .settings-item label {
        font-size: 0.8em;
    }
}

.settings-item-label {
    padding-right: 10px;
}

.settings-item input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    height: 2em;
}

.help-text {
    font-size: 0.8em;
    color: #666;
    margin: 0;
}

@media (max-width: 768px) {
    .settings-item {
        margin-bottom: 10px;
    }
    .settings-item input {
        font-size: 0.8em;
    }
    .help-text {
        font-size: 0.75em;
        margin-bottom: 10px;
    }
}

h2 {
    color: #4C4EF6;
    font-size: 1.25em;
}